@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("_roof/_roof.css");
@import url("_banner/_banner.css");
@import url("_feedback/_feedback.css");
@import url("_about/_about.css");
@import url("_button/_button.css");
@import url("_wrapper/_wrapper.css");
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #2C465A; }

body {
  background-color: #fff;
  color: #2C465A;
  min-width: 320px; }

p {
  font-family: 'Sintony', sans-serif;
  font-size: 14px; }

h1 {
  font-family: 'Playfair Display', serif;
  color: white; }

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 35px; }

.text_sub-color {
  color: #FEA100; }

#TodaySpecial {
  background-image: url("images/special-background.png");
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px 0 130px; }
  #TodaySpecial h2 {
    color: white;
    margin-bottom: 25px; }
  #TodaySpecial .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #TodaySpecial .items .item {
      background-color: #fff;
      width: 569px;
      -webkit-box-shadow: 0 0 38px 24px rgba(0, 0, 0, 0.09);
      box-shadow: 0 0 38px 24px rgba(0, 0, 0, 0.09); }
      #TodaySpecial .items .item .text-wrapper {
        width: 430px;
        margin: auto;
        padding: 50px 0 60px; }
        #TodaySpecial .items .item .text-wrapper h3 {
          margin-bottom: 20px;
          color: black; }
        #TodaySpecial .items .item .text-wrapper p {
          color: #5C6369; }
      #TodaySpecial .items .item .bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 48px;
        padding: 18px 0 29px;
        border-top: 2px solid #E1E1E1; }
        #TodaySpecial .items .item .bottom .left {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          #TodaySpecial .items .item .bottom .left .text {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            text-align: left;
            padding-right: 21px;
            border-right: 2px solid #E1E1E1; }
            #TodaySpecial .items .item .bottom .left .text .purple {
              color: #FE4C8D; }
          #TodaySpecial .items .item .bottom .left .phone {
            padding-left: 21px;
            font-family: 'Playfair Display', serif;
            font-size: 26px; }
        #TodaySpecial .items .item .bottom .price {
          font-family: 'Playfair Display', serif;
          font-size: 30px;
          font-weight: bold;
          color: #FEA100; }
  @media (min-width: 1970px) {
    #TodaySpecial {
      background-size: contain; } }
  @media (max-width: 1270px) {
    #TodaySpecial .wrapper {
      width: calc(100% - 60px); }
    #TodaySpecial .items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 1220px) {
    #TodaySpecial .wrapper {
      width: 570px;
      margin: auto; }
    #TodaySpecial .item {
      margin-top: 10px; } }
  @media (max-width: 650px) {
    #TodaySpecial .wrapper {
      padding: 0;
      margin: 0 auto; } }
  @media (max-width: 590px) {
    #TodaySpecial .wrapper {
      width: 100%; }
    #TodaySpecial .items .item img {
      width: 100%; }
    #TodaySpecial .items .item .bottom {
      margin: auto; } }
  @media (max-width: 450px) {
    #TodaySpecial .items .item .text-wrapper {
      width: calc(100% - 10px);
      margin: auto 5px; }
    #TodaySpecial .items .item .bottom {
      width: 100%; }
      #TodaySpecial .items .item .bottom .left .phone, #TodaySpecial .items .item .bottom .price {
        font-size: 25px; } }
  @media (max-width: 380px) {
    #TodaySpecial .items .item .bottom {
      width: 100%; }
      #TodaySpecial .items .item .bottom .left .phone, #TodaySpecial .items .item .bottom .price {
        font-size: 20px; } }

footer {
  background-color: #373844;
  padding: 80px 0 110px;
  text-align: center; }
  footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    footer .icons .icon {
      width: 50px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      border-radius: 100%;
      margin: 0 3px; }
    footer .icons .facebook {
      background-color: #3B5998; }
    footer .icons .twitter {
      background-color: #55ACEE; }
    footer .icons .google {
      background-color: #DD4B39; }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px; }
    footer .copyright p {
      text-transform: uppercase;
      font-size: 13px;
      color: #ADB2B7; }
    footer .copyright .line {
      width: 370px;
      height: 1px;
      background-color: #52535E; }
  @media (max-width: 1230px) {
    footer .wrapper {
      width: calc(100% - 60px); } }
  @media (max-width: 1015px) {
    footer .copyright .line {
      width: calc(50% - 100px); } }
  @media (max-width: 440px) {
    footer .line {
      display: none; }
    footer .copyright {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
