$def-color: #2C465A;
$sub-color: #FEA100;

@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

// -----------   normalize   ------------

* { margin: 0; padding: 0; }

a {
	text-decoration: none;
	color: $def-color;
}

body {
	background-color: #fff;
	color: $def-color;
	min-width: 320px;
}

p {
	font-family: 'Sintony', sans-serif;
	font-size: 14px;
}

h1 {
	font-family: 'Playfair Display', serif;
	color: white;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 35px;
}

.text_sub-color { color: $sub-color; }

// -------------   blocks   -------------

#AboutRestaurent {
	padding: 66px 0 100px;

	.wrapper { display: flex; flex-wrap: wrap; }

	.semi-wrapper {
		width: calc(50% - 30px);
		padding: 50px 0 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.text {
		line-height: 26px;
		color: #5C6369;
		padding-right: 35px;
	}

	.button {
		margin-top: 10px;
		width: 150px;
		height: 50px;
	}

	.quarter-wrapper {
		margin-left: 30px;
		display: flex;
		flex-direction: column;
	}

	img { width: 270px; }

	.first { margin: 50px 0 10px; }
	.last { margin: 10px 0 50px; }

	@media (max-width: 1230px) {
		.wrapper {
			padding: 0 calc(calc(100% - 1170px) / 2);
		}
	}

	@media (max-width: 1200px) {
		.wrapper {
			padding: 0 15px;
			width: calc(100% - 30px);
			justify-content: center;
		}

		.semi-wrapper {
			width: 555px;
			margin: 0 calc(calc(100% - 555px) / 2);
		}

		.quarter-wrapper { margin-left: 0; }

		.left { margin-right: 15px; }

		.right { margin-left: 15px; }
	}

	@media (max-width: 620px) {
		.quarter-wrapper {
			margin: 0;
		}

		.left { margin-right: 10px; }
	}

	@media (max-width: 600px) {
		.wrapper {
			display: block;
			text-align: center;
			p { text-align: left; }
		}

		.quarter-wrapper {
			display: inline-flex;
			margin: 0;

			img {
				margin: 0;
				margin-top: 15px;
			}
		}
	}

	@media (max-width: 620px) {
		.semi-wrapper {
			width: 100%;
			margin: 0;
			text-align: center;
			p { text-align: left; }
		}
	}
}



#TodaySpecial {
	background-image: url('images/special-background.png');
	background-repeat: no-repeat;
	text-align: center;
	padding: 100px 0 130px;

	h2 {
		color: white;
		margin-bottom: 25px;
	}

	.items {
		display: flex;
		justify-content: space-between;

		.item {
			background-color: #fff;
			width: 569px;
			box-shadow: 0 0 38px 24px rgba(0,0,0,.09);

			.text-wrapper {
				width: 430px;
				margin: auto;
				padding: 50px 0 60px;

				h3 {
					margin-bottom: 20px;
					color: black;
				}

				p { color: #5C6369; }
			}

			.bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0 48px;
				padding: 18px 0 29px;
				border-top: 2px solid #E1E1E1;

				.left {
					display: flex;
					align-items: center;
					.text {
						text-transform: uppercase;
						font-size: 13px;
						font-weight: bold;
						text-align: left;
						.purple { color: #FE4C8D }
						padding-right: 21px;
						border-right: 2px solid #E1E1E1;
					}

					.phone {
						padding-left: 21px;
						font-family: 'Playfair Display', serif;
						font-size: 26px;
					}
				}

				.price {
					font-family: 'Playfair Display', serif;
					font-size: 30px;
					font-weight: bold;
					color: #FEA100;
				}
			}
		}
	}

	@media (min-width: 1970px) { background-size: contain; }

	@media (max-width: 1270px) {
		.wrapper { width: calc(100% - 60px); }
		.items {
			flex-wrap: wrap;
		}
	}

	@media (max-width: 1220px) {
		.wrapper {
			width: 570px;
			margin: auto;
		}

		.item {
			margin-top: 10px;
		}
	}

	@media (max-width: 650px) {
		.wrapper { padding: 0; margin: 0 auto; }
	}

	@media (max-width: 590px) {
		.wrapper { width: 100%;}

		.items .item {
			img { width: 100%; }
			.bottom { margin: auto; }
		}
	}

	@media (max-width: 450px) {
		.items .item {
			.text-wrapper { width: calc(100% - 10px); margin: auto 5px; }
			.bottom {
				width: 100%;
				.left .phone, .price { font-size: 25px; }
			}
		}
	}

	@media (max-width: 380px) {
		.items .item .bottom {
			width: 100%;
			.left .phone, .price { font-size: 20px; }
		}
	}
}



footer {
	background-color: #373844;
	padding: 80px 0 110px;
	text-align: center;

	.icons {
		display: flex;
		align-items: center;
		justify-content: center;


		.icon {
			width: 50px;	
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: space-around;
			border-radius: 100%;
			margin: 0 3px;
		}

		.facebook { background-color: #3B5998; }
		.twitter { background-color: #55ACEE; }
		.google { background-color: #DD4B39; }
	}

	.copyright {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;

		p {
			text-transform: uppercase;
			font-size: 13px;
			color: #ADB2B7;
		}

		.line {
			width: 370px;
			height: 1px;
			background-color: #52535E;
		}
	}

	@media (max-width: 1230px) {
		.wrapper {
			width: calc(100% - 60px);
		}
	}

	@media (max-width: 1015px) {
		.copyright .line {
			width: calc(50% - 100px)
		}
	}

	@media (max-width: 440px) {
		.line { display: none; }
		.copyright { justify-content: center; }
	}
}

// ----------   page elements   ---------

@import url('_roof/_roof.css');
@import url('_banner/_banner.css');
@import url('_feedback/_feedback.css');

// -------------   blocks   -------------

@import url('_button/_button.css');
@import url('_wrapper/_wrapper.css');