@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("_roof/_roof.css");
@import url("_banner/_banner.css");
@import url("_feedback/_feedback.css");
@import url("_about/_about.css");
@import url("_today-special/_today-special.css");
@import url("_footer/_footer.css");
@import url("_button/_button.css");
@import url("_wrapper/_wrapper.css");
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #2C465A; }

body {
  background-color: #fff;
  color: #2C465A;
  min-width: 320px; }

p {
  font-family: 'Sintony', sans-serif;
  font-size: 14px; }

h1 {
  font-family: 'Playfair Display', serif;
  color: white; }

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 35px; }

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 26px; }

.text_sub-color {
  color: #FEA100; }
